.sds--block-switch-parent {
    &:not(.is-active) {
        &:hover {
            background-color: var(--sds--palette--support-color--100);
        }
    }
}

.sds--block-switch {

    .sds--block-switch--title.no-icon, .sds--block-switch--visual.no-icon {
        gap: 0;
    }

    .icon.is-active {
        color: var(--sds--palette--support-color--400);
    }

    &.is-disabled {
        background-color: var(--sds--color--gray--100);

    }

    svg {
        width: calc(32em / 16);
        height: calc(32em / 16)
    }

}


a.sds--block-switch.is-disabled {
    color: var(--sds--color--gray--500);
    cursor: not-allowed;
}
