.sds--loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sds--loading {

    @keyframes loader-animation {
      from {
        background-color: transparent;
      }
      to {
        background-color: var(--sds--color--gray--400);
      }
    }

    .sds--loading--dot {
      animation-name: loader-animation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-delay: 0s;

      &:nth-child(2) {
        animation-delay: .75s;
      }

      &:nth-child(3) {
        animation-delay: 1.5s;
      }
    }
  }
  .loader-msg {
    margin-top: 15px;
  }
}