.sds--btn {
    cursor: pointer;

    &.active {
        cursor: initial;
    }

    &.sds--btn--delete {
        padding: 0;

        svg path {
            stroke-width: 1.5;
        }

        &:hover {
            color: var(--sds--color--red--400);
        }

        &:disabled {
            color: var(--sds--color--gray--300);

            &:hover {
                color: var(--sds--color--gray--300);
            }
        }
    }

    &.sds--btn--delete--secondary {
        color: var(--sds--palette--main-color--500);
    }

    &.sds--btn-chevron {
        svg {
            width: calc(11.25em / 16);
            height: calc(5.47em / 16)
        }

    }
}