.sds--language-switcher {
  ul {
    //@include align-icon-defaults(em(9px, 14), center);

    li {
      //@include align-icon-defaults(em(9px, 14), center);
      flex-shrink: 0;
    }

    .sds--visually-hidden {
      position: absolute !important;
      height: 0;
      width: 0;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap
    }

    a {
      &:link,
      &:visited {
        //@include lnk-decoration(show);

        &:not(.is-active) {
          font-weight: 600;
          //@include lnk-color(var(--sds--palette--main-color--400));
        }

        &.is-active {
          //@include lnk-color();
        }
      }
    }
  }
}