.sds--block-switch-container {

    $compact-length: 1280px;

    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    @media (max-width: $compact-length) {
        grid-auto-flow: row;
    }
}
