.sds--tooltip-container {
    display: inline-block;

    &.sibbling {
        margin-left: 8px;
    }


    svg.info-svg {
        width: 14px;
        height: auto;

    }

    .react-tooltip {
        text-align: center;
        background-color: var(--sds--color--gray--500);
        opacity: 1;
        border-radius: 6px;
        max-width: 280px;
        word-break: break-word;
        font-size: .875rem;
        line-height: calc(18 / 14);
        font-weight: normal;
        z-index: 9999;
    }

}
