.sds--segmented-control {

  button.sds--btn {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none;
    }

    &.sds--btn--primary + .sds--btn--secondary {
      border-left: none;
    }
  }


}