.sds--radio-options {

    $compact-length: 1080px;

    .sds--tooltip-parent span {
        display: block;
        font-weight: 600;
        margin-bottom: var(--sds--space--1);
    }

    .sds--text-field-container {
        display: flex;
        gap: 0 50px;
        margin-top: 10px;

        &.column {
            gap: 16px 0;
            flex-direction: column;
        }

        @media (max-width: $compact-length) {
            gap: 20px 0;
            flex-direction: column;
        }

    }

    .sds--radio-options-label {
        align-items: center;
    }
}
