.sds--navigation-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 15px 15px;
    background-color: var(--sds--color--black--navigation);
    min-height: 100vh;

    width: 280px;
    transition: width 0.6s ease-in-out;
    overflow-x: hidden;

    &.collapsed {
        width: 48px;
    }

    .sds--navigation-menu-header {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--sds--color--white--dimmed--70);

        .close-container {
            margin-left: auto;
            cursor: pointer;

            svg {
                color: white;
                fill: none;
            }

            &.collapsed {
                margin-left: 0;

                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .sds--navigation-menu-inner {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

    }

    .sds--navigation-menu-title {
        display: flex;
        color: white;

        svg {
            margin: 0 auto auto 0;
            color: white;
            fill: none;
        }
    }

    .sds--navigation-menu-items {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        gap: 15px;

        p.group-label {
            margin-bottom: 8px;
            padding-left: 12px;
        }

        .sds--navigation-group-item {
            display: flex;
            flex-direction: column;
            color: white;

            &:not(:first-child) {
                padding-top: 25px;
                margin-top: 15px;
                border-top: 1px solid white;
            }
        }

        .sds--navigation-menu-item {
            display: flex;
            align-content: center;
            gap: 14px;
            padding: 12px;

            svg {
                color: white;
                fill: none;
            }

            border-radius: 4px;

            a {
                text-decoration: none;
                color: white;
            }

            &.active {
                background-color: var(--sds--color--white);

                a, svg {
                    font-weight: 600;
                    color: black;
                }

            }


        }
    }

}

